@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}
section.chat__section {
  width: 800px;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 20px; /* Rounded border */
  overflow: hidden; /* Ensure rounded corners are applied properly */
}
.brand {
  padding: 20px;
  background: rgba(229, 218, 218, 0.9);
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 24px; /* Increase font size for emphasis */
  color: #764444; /* Pink or other vibrant colors often seen in anime */
  margin-left: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
}
.message__area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
  overflow-wrap: normal;
}

.message {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 300px;
  position: relative;
}
.incoming {
  background: rgba(199, 20, 130, 0.8);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.outgoing {
  background: rgba(253, 240, 247, 0.8);
  color: #787986;
  margin-left: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}
